<!DOCTYPE html>
<html lang="fr">
<head>
<title>{% block title %}{% endblock %}</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block css %}{% endblock %}
    
</head>

<body>
{% include 'navbar.html.twig' %}

{% block body %}{% endblock %}

{% include 'footer.html.twig' %}

{% block js_end %}{% endblock %}
</body>
</html>
