<footer class="container-fluid text-center">
			<p> © 2017 Benjamin ROZIERE | Alexis DELAHAYE | {{ trans('footer.copyright') }}</p>
			<a href="#" class="fa fa-facebook fa-3x"></a>
		  <a href="#" class="fa fa-twitter fa-3x"></a>
		  <a href="#" class="fa fa-google fa-3x"></a>
		  <a href="mailto:tamerephp@etu.uca.fr" class="fa fa-envelope fa-3x"></a>
</footer>
