<!-- language selector -->
<header>

    <img src="/images/flag_france.png" alt="france flag"
         class="flag pull-left img-responsive thumb margin10 img-thumbnail">

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Langage <span
                        class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <div>
                        <img src="/images/flag_france.png" alt="france flag"
                             class="flag_dropdown pull-left img-responsive thumb margin10 img-thumbnail"/> <a
                                href="/lang/fr">Français</a>
                    </div>
                </li>
                <br>
                <li>
                    <div>
                        <img src="/images/flag_english.png" alt="english flag"
                             class="flag_dropdown pull-left img-responsive thumb margin10 img-thumbnail"/> <a
                                href="/lang/en">English</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</header>