{% extends 'base.html.twig' %}


{% block title %}Admin{% endblock %}

{% block css %}<link rel="stylesheet" href="css/admin.css">{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<h2>Panneau d'administration</h2>
		
		<table class="points_table">
			<thead>
				<tr>
					<th class="col-xs-1">#</th>
					<th class="col-xs-7">Titre</th>
					<th class="col-xs-1">Titre illisible</th>
					<th class="col-xs-1">Participant</th>
					<th class="col-xs-1">Lieu</th>
					<th class="col-xs-1">Supprimer</th>
				</tr>
			</thead>

			<tbody class="points_table_scrollbar">
				<tr class="odd">
					<td class="col-xs-1">1</td>
					<td class="col-xs-7">Test Points</td>
					<td class="col-xs-1">10</td>
					<td class="col-xs-1">0</td>
					<td class="col-xs-1">5</td>
					<td class="col-xs-1">
					 <a class="btn icon-btn btn-danger" href="#"><span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span> Delete</a>
 					</td>
				</tr>

				<tr class="even">
					<td class="col-xs-1">2</td>
					<td class="col-xs-7">Test Points 2</td>
					<td class="col-xs-1">10</td>
					<td class="col-xs-1">0</td>
					<td class="col-xs-1">5</td>
					<td class="col-xs-1">
					 <a class="btn icon-btn btn-danger" href="#"><span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span> Delete</a>
					</td>
				</tr>
				
				<tr class="odd">
					<td class="col-xs-1">3</td>
					<td class="col-xs-7">Test Points 3</td>
					<td class="col-xs-1">10</td>
					<td class="col-xs-1">0</td>
					<td class="col-xs-1">5</td>
					<td class="col-xs-1">
					 <a class="btn icon-btn btn-danger" href="#"><span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span> Delete</a>
					</td>
				</tr>

				<tr class="even">
					<td class="col-xs-1">4</td>
					<td class="col-xs-7">Test Points 4</td>
					<td class="col-xs-1">10</td>
					<td class="col-xs-1">0</td>
					<td class="col-xs-1">5</td>
					<td class="col-xs-1">
					 <a class="btn icon-btn btn-danger" href="#"><span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span> Delete</a>
					</td>
				</tr>

				<tr class="odd">
					<td class="col-xs-1">5</td>
					<td class="col-xs-7">Test Points 5</td>
					<td class="col-xs-1">10</td>
					<td class="col-xs-1">0</td>
					<td class="col-xs-1">5</td>
					<td class="col-xs-1">
					 <a class="btn icon-btn btn-danger" href="#"><span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span> Delete</a>
					</td>
				</tr>

				<tr class="even">
					<td class="col-xs-1">6</td>
					<td class="col-xs-7">Test Points 6</td>
					<td class="col-xs-1">10</td>
					<td class="col-xs-1">0</td>
					<td class="col-xs-1">5</td>
					<td class="col-xs-1">
					 <a class="btn icon-btn btn-danger" href="#"><span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span> Delete</a>
					</td>
				</tr>

				<tr class="odd">
					<td class="col-xs-1">7</td>
					<td class="col-xs-7">Test Points 7</td>
					<td class="col-xs-1">10</td>
					<td class="col-xs-1">0</td>
					<td class="col-xs-1">5</td>
					<td class="col-xs-1">
					 <a class="btn icon-btn btn-danger" href="#"><span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span> Delete</a>
					</td>
				</tr>

				<tr class="even">
					<td class="col-xs-1">8</td>
					<td class="col-xs-7">Test Points 8</td>
					<td class="col-xs-1">10</td>
					<td class="col-xs-1">0</td>
					<td class="col-xs-1">5</td>
					<td class="col-xs-1">
					 <a class="btn icon-btn btn-danger" href="#"><span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span> Delete</a>
					</td>
				</tr>

				<tr class="odd">
					<td class="col-xs-1">9</td>
					<td class="col-xs-7">Test Points 9</td>
					<td class="col-xs-1">10</td>
					<td class="col-xs-1">0</td>
					<td class="col-xs-1">5</td>
					<td class="col-xs-1">
					 <a class="btn icon-btn btn-danger" href="#"><span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span> Delete</a>
					</td>
				</tr>

		</tbody>
		</table>
	</div>
</div>

{% endblock %}
