<!DOCTYPE html>
<html>
    <head>
        <title>ZZFramework - Exception</title>
    </head>
    <body>
        <h1>Exception occured!</h1>
        <p>Oops, the following exception occured : <strong>{{ exception.message }}</strong></p>
        <pre>
            {{ exception }}
        </pre>
    </body>
</html>